@import url('https://fonts.googleapis.com/css?family=Ubuntu|VT323|Kaushan+Script');

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 640px;
  /* background-color: #aaa; */
  background-color: rgba(240, 140, 9, 0.555);
  margin: 0 auto;
  text-align: center;
  padding: 0 10px 10px 10px;
}

#title-area {
  margin-top: 50px;
  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  line-height: 4rem;
  /* text-align: center; */
  padding: 10px;
}

#selection-area {
  /* background-color: #bbb; */
  /* text-align: center; */
  /* height: 191.33px; */
}

#holding-area {
  /* background-color: #aab; */
  /* text-align: center; */
  /* height: 191.33px; */
}

#arena {
  /* background-color: #ccc; */
  background-color: rgba(240, 140, 9, 0.7);
  height: 250px;
  padding: 10px 0 10px 0;
}

#player-arena {
  width: 40%;
  height: 100%;
  /* background-color: #dda; */
  float: left;
}

#vs {
  width: 20%;
  height: 100%;
  /* background-color: #ddb; */
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  line-height: 230px;
}

#computer-arena {
  width: 40%;
  height: 100%;
  /* background-color: #ddc; */
  float: left;
}

#message-area {

  width: 100%;

  background-color: #000;

  padding: 5px;
  font-family: 'VT323', monospace;
  color: #00ff00;
}

#attack-area {
  width: 134px;
  height: 100%;
  background-color: rgba(170, 170, 221, 0.781);
  border: grey solid 5px;
  float: right;
}


#defense-area {
  width: 134px;
  height: 100%;
  background-color: rgba(170, 170, 221, 0.781);
  border: grey solid 5px;
  float: left;
}

.characters {
  background-color: black;
  margin: 10px;
  /* width: auto; */
  height: auto;
  padding: 2px;
  display: inline-block;
  /* text-align: center; */
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: .8rem;
  line-height: 1.1rem;
}

.sel-area-img {
  background-color: blue;
  display: block;
  /* margin: 10px; */
  width: 100px;
  height: auto;
}